/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&subset=cyrillic");

@font-face {
	font-family: 'Avenir Next';
	src: url("../fonts/AvenirNext-Light.eot");
	src: url("../fonts/AvenirNext-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Light.woff2") format("woff2"), url("../fonts/AvenirNext-Light.woff") format("woff"), url("../fonts/AvenirNext-Light.ttf") format("truetype"), url("../fonts/AvenirNext-Light.svg#AvenirNextCyr-Light") format("svg");
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: 'Avenir Next';
	src: url("../fonts/AvenirNext-Regular.eot");
	src: url("../fonts/AvenirNext-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Regular.woff2") format("woff2"), url("../fonts/AvenirNext-Regular.woff") format("woff"), url("../fonts/AvenirNext-Regular.ttf") format("truetype"), url("../fonts/AvenirNext-Regular.svg#AvenirNextCyr-Regular") format("svg");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'Avenir Next';
	src: url("../fonts/AvenirNext-Bold.eot");
	src: url("../fonts/AvenirNext-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Bold.woff2") format("woff2"), url("../fonts/AvenirNext-Bold.woff") format("woff"), url("../fonts/AvenirNext-Bold.ttf") format("truetype"), url("../fonts/AvenirNext-Bold.svg#AvenirNextCyr-Bold") format("svg");
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: 'Avenir Next';
	src: url("../fonts/AvenirNext-Demi.eot");
	src: url("../fonts/AvenirNext-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Demi.woff2") format("woff2"), url("../fonts/AvenirNext-Demi.woff") format("woff"), url("../fonts/AvenirNext-Demi.ttf") format("truetype"), url("../fonts/AvenirNext-Demi.svg#AvenirNextCyr-Demi") format("svg");
	font-weight: bold;
	font-style: normal
}

/* RESET STYLES & BOOTSTRAP GRID */
.clear,.clearfix:after,.container-fluid:after,.container:after,.row:after{clear:both}.clear,svg:not(:root){overflow:hidden}.clear,article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary,textarea{display:block}pre,textarea{overflow:auto}body *,button:focus,input:focus,select:focus,textarea:focus{outline:0}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;overflow-y:scroll}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent;color:#337ab7;color:inherit}abbr[title]{border-bottom:1px dotted}dfn{font-style:italic}mark{background:#ff0;color:#000}sub,sup{line-height:0;position:relative}sup{top:-.5em}sub{bottom:-.25em}hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}code,kbd,pre,samp{font-family:monospace,monospace}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}b,optgroup,strong{font-weight:700}table{border-collapse:collapse;border-spacing:0}*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}button,input,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}.container,.container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}.row{margin-left:-15px;margin-right:-15px}.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.container{max-width:750px}.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.container{width:970px}.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1200px){.container{max-width:1500px}.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.row:after,.row:before{content:' ';display:table}.pull-right{float:right!important}.pull-left{float:left!important}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}body,input,select,textarea{font-weight:400;font-family:Arial}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}body *{-webkit-text-size-adjust:none}.clear{height:0;font-size:0px}input,select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0;background:0 0;border:none;margin:0;width:100%}textarea{resize:none}select::-ms-expand{display:none}input[type=file],input[type=submit]{position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;border:none;cursor:pointer;z-index:1}a,a:active,a:hover,a:link,a:visited{cursor:pointer;text-decoration:none;outline:0}body{color:#333;background-color:#fff;font-size:14px;line-height:1}ol,ul{list-style:none}

:root {
	/* Fonts & Typography */
	--primary-font: 'Montserrat', sans-serif;
	--secondary-font: 'Avenir Next', sans-serif;

	--letter-spacing: .006rem;

	--font-size-lg: 1.125rem;
	--line-height-lg: 1.75rem;

	--font-size: 1rem;
	--line-height: 1.625rem;

	--font-size-sm: .938rem;
	--line-height-sm: 1.5rem;

	--font-size-xs: .875rem;
	/* Titles */
	--h1-font-size: 3rem;
	--h1-line-height: 3.75rem;
	--h1-font-size-sm: 2.875rem;
	--h1-line-height-sm: 3.625rem;
	--h1-font-size-xs: 1.875rem;
	--h1-line-height-xs: 2.375rem;

	--h2-font-size: 2.563rem;
	--h2-line-height: 3.313rem;
	--h2-font-size-sm: 1.625rem;
	--h2-line-height-sm: 2.25rem;
	--h2-font-size-xs: 1.75rem;
	--h2-line-height-xs: 2.25rem;

	--h3-font-size: 1.875rem;
	--h3-line-height: 2.5rem;
	--h3-font-size-sm: 1.375rem;
	--h3-line-height-sm: 2.125rem;
	--h3-font-size-xs: 1.625rem;
	--h3-line-height-xs: 2.125rem;

	--h4-font-size: 1.688rem;
	--h4-line-height: 2.375rem;
	--h4-font-size-sm: 1.25rem;
	--h4-line-height-sm: 2rem;
	--h4-font-size-xs: 1.5rem;
	--h4-line-height-xs: 2.063rem;

	--h5-font-size: 1.5rem;
	--h5-line-height: 2.25rem;
	--h5-font-size-sm: 1.188rem;
	--h5-line-height-sm: 1.875rem;
	--h5-font-size-xs: 1.375rem;
	--h5-line-height-xs: 1.938rem;

	--h6-font-size: 1.25rem;
	--h6-line-height: 1.625rem;
	--h6-font-size-sm: 1.125rem;
	--h6-line-height-sm: 1.625rem;
	--h6-font-size-xs: 1.125rem;
	--h6-line-height-xs: 1.5rem;

	--title-font-weight: 700;
	/* Colors */
	--text: #7a7a7a;
	--title: #1f1f1f;
	--dark: #1a1a1a;
	--dark-transparent: rgba(0, 0, 0, .56);
	--blue: #103c7d;
	--white: #fff;
	--grey: #666;
	--light-transparent: rgba(255, 255, 255, .8);

	--light: #ccc;
	--red: #D45151;
	/* Other */
	--shadow: 0 -2px 20px var(--yellow);
	/* Gaps & spaces */
	--header-height-lg: 115px;
	--header-height: 80px;
	--header-height-sm: 60px;
	--section-padding: 6rem;
	--section-padding-sm: 4rem;
	--section-padding-xs: 2rem;
	--content-margin: 1.563rem;
	--content-margin-sm: 1rem;
	/* Popups */
	--popup-bg: rgba(25, 25, 25, .84);
	/* Transitions */
	--duration: .68s;
	--easing: cubic-bezier(.14, .72, .18, .84);
}

/* COMMON STYLES */
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-track {
	background: var(--white);
}

::-webkit-scrollbar-thumb {
	background: var(--blue);
	border: 1px solid var(--white);
}

.popup {
	display: none;
}

main {
	min-height: 100vh;
}

body {
	color: var(--text);
	font-size: var(--font-size);
	line-height: var(--line-height);
	font-family: var(--primary-font);
	letter-spacing: var(--letter-spacing);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
header,
.nav-contacts,
.button,
.arrow-button,
.bordered-button,
.swiper-pagination-current,
.swiper-pagination-total,
.content-banner.style-1 span:not(.h2),
.content-banner.style-3 span:not(.h2),
.advantage-item span,
.recommendation-carousel-content > div > span,
.recommendation-quote,
.reviewer span:not(.h6),
.post .date,
.form label:not(.checkbox) span,
.form label:not(.checkbox) input,
.form label:not(.checkbox) textarea,
.form label:not(.checkbox) .add-file span,
.share span,
.show-more span,
.error svg text,
.footer-contacts,
.copyright,
.recommendation-quote:before {
	font-family:  var(--secondary-font);
}

section,
.section {
	position: relative;
}

.section-padding-top {
	padding-top: var(--section-padding);
}

.section-padding-bottom {
	padding-bottom: var(--section-padding);
}

img {
	max-width: 100%;
}

.img,
.img img {
	width: 100%;
	display: block;
}

.img img {
	height: auto;
}

.img.contain img {
	object-fit: contain;
}

.img.cover img {
	object-fit: cover;
}

.bg,
.bg:after,
.full-size,
.full-size.img.cover:after {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}

.bg-dark {
	background-color: var(--dark);
}

.bg:after,
.full-size.img.cover:after {
	content: '';
}

.overflow-hidden {
	overflow: hidden;
}

.full-size.img.cover img {
	width: 100%;
	height: 100%;
}

.full-size.img.cover:after {
	background-color: var(--dark-transparent);
}

@media (min-width: 992px) {

	.vertical-align {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.vertical-align.align-items-center {
		align-items: center;
		justify-content: flex-end;
	}
}

@media (max-width: 1499px) {

	body {
		font-size: var(--font-size-sm);
		line-height: var(--line-height-sm);
	}

	.section-padding-top {
		padding-top: var(--section-padding-sm);
	}

	.section-padding-bottom {
		padding-bottom: var(--section-padding-sm);
	}
}

@media (max-width: 991px) {

	.section-padding-top-sm {
		padding-top: var(--section-padding-sm);
	}

	.section-padding-bottom-sm {
		padding-bottom: var(--section-padding-sm);
	}

	body {
		font-size: var(--font-size-xs);
	}

	.large {
		line-height: 1.563rem;
		font-size: var(--font-size-sm);
	}

	.social a {
		width: 28px;
		height: 28px;
	}

	.social a.large-svg svg {
		width: 14px;
		height: 14px;
	}

	.social svg {
		width: 11px;
		height: 11px;
	}

	.social path,
	.social circle,
	.social line,
	.social polygon {
		fill: var(--white);
	}
}

@media (max-width: 767px) {

	.section-padding-top,
	.section-padding-top-xs {
		padding-top: var(--section-padding-xs);
	}

	.section-padding-bottom {
		padding-bottom: var(--section-padding-xs);
	}
}

/* TYPOGRAPHY */
.large {
	font-size: var(--font-size-lg);
	line-height: var(--line-height-lg);
}

.small {
	font-size: var(--font-size-sm);
	line-height: var(--line-height-sm);
}

.light,
.content.light,
h1.light,
h2.light,
h3.light,
h4.light,
h5.light,
h6.light,
.h1.light,
.h2.light,
.h3.light,
.h4.light,
.h5.light,
.h6.light {
	color: var(--white);
}

.content:not(:last-child),
.content > *:not(:last-child),
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
label {
	margin-bottom: var(--content-margin);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	color: var(--title);
	font-weight: var(--title-font-weight);
}

h1,
.h1 {
	letter-spacing: .106rem;
	font-size: var(--h1-font-size);
	line-height: var(--h1-line-height);
}

h2,
.h2 {
	letter-spacing: .063rem;
	font-size: var(--h2-font-size);
	line-height: var(--h2-line-height);
}

h3,
.h3 {
	letter-spacing: .025rem;
	font-size: var(--h3-font-size);
	line-height: var(--h3-line-height);
}

h4,
.h4 {
	font-size: var(--h4-font-size);
	line-height: var(--h4-line-height);
}

h5,
.h5 {
	font-size: var(--h5-font-size);
	line-height: var(--h5-line-height);
}

h6,
.h6 {
	font-size: var(--h6-font-size);
	line-height: var(--h6-line-height);
}

.title {
	position: relative;
	padding-left: 35px;
}

.title:before {
	left: 0;
	top: 7px;
	width: 2px;
	content: '';
	height: 25px;
	position: absolute;
	background: var(--blue);
}

ul li,
ol li {
	position: relative;
}

ul li {
	padding-left: 45px;
}

ul li:before {
	left: 0;
	top: 12px;	
	width: 30px;
	height: 1px;
	content: '';
	position: absolute;
	background: linear-gradient(to right, var(--blue) 0%, var(--blue) 60%, rgba(16, 60, 125, .4) 60%, rgba(16, 60, 125, .4) 100%)
}

ol {
	counter-reset: number;
}

ol li {
	padding-left: 30px;
}

ol li:before {
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	font-weight: 500;
	font-size: .75rem;
	position: absolute;
	color: var(--blue);
	display: inline-block;
	counter-increment: number;
	content: '0' counter(number);
}

blockquote,
.quote {
	display: block;
	font-weight: 500;
	font-size: 1.25rem;
	padding: 25px 35px;
	position: relative;
	color: var(--title);
	line-height: 2.125rem;
}

blockquote:before,
.quote:before {
	left: 0;
	top: 20px;
	width: 4px;
	content: '';
	bottom: 20px;
	position: absolute;
	background-color: var(--blue);
}

.text-uppercase {
	text-transform: uppercase;
}

b,
strong,
.text-bold {
	font-weight: 700;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

@media (max-width: 1499px) {

	.large {
		font-size: 1.063rem;
		line-height: var(--line-height);
	}

	.h1 {
		letter-spacing: .063rem;
		font-size: var(--h1-font-size-sm);
		line-height: var(--h1-line-height-sm);
	}

	.h2 {
		font-size: var(--h2-font-size-sm);
		line-height: var(--h2-line-height-sm);
	}

	.h3 {
		font-size: var(--h3-font-size-sm);
		line-height: var(--h3-line-height-sm);
	}

	.h4 {
		font-size: var(--h4-font-size-sm);
		line-height: var(--h4-line-height-sm);
	}

	.h5 {
		font-size: var(--h5-font-size-sm);
		line-height: var(--h5-line-height-sm);
	}

	.h6 {
		font-size: var(--h6-font-size-sm);
		line-height: var(--h6-line-height-sm);
	}

	.title:before {
		height: 20px;
	}

	blockquote,
	.quote {
		font-size: .063rem;
		line-height: 1.75rem;
	}
}

@media (max-width: 991px) {

	.content:not(:last-child),
	.content > *:not(:last-child),
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6,
	label {
		margin-bottom: var(--content-margin-sm);
	}

	ul li {
		padding-left: 25px;
	}

	ul li:before {
		width: 15px;
	}

	ol li {
		padding-left: 25px;
	}

	blockquote,
	.quote {
		font-size: 1rem;
		padding: 10px 20px;
		line-height: 1.5rem;
	}

	blockquote:before,
	.quote:before {
		top: 10px;
		width: 2px;
		bottom: 10px;
	}

	.h1 {
		letter-spacing: .65px;
		font-size: var(--h1-font-size-xs);
		line-height: var(--h1-line-height-xs);
	}

	.h2 {
		font-size: var(--h2-font-size-xs);
		line-height: var(--h2-line-height-xs);
	}

	.h3 {
		font-size: var(--h3-font-size-xs);
		line-height: var(--h3-line-height-xs);
	}

	.h4 {
		font-size: var(--h4-font-size-xs);
		line-height: var(--h4-line-height-xs);
	}

	.h5 {
		font-size: var(--h5-font-size-xs);
		line-height: var(--h5-line-height-xs);
	}

	.h6 {
		font-size: var(--h6-font-size-xs);
		line-height: var(--h6-line-height-xs);
	}

	.title {
		padding-left: 0;
	}

	.title:before {
		display: none;
	}
}

@media (max-width: 767px) {

	.h1 {
		font-size: var(--h6-line-height);
		line-height: var(--h3-line-height-xs);
	}

	.h2 {
		font-size: var(--h5-font-size-xs);
		line-height: var(--h2-font-size-xs);
	}

	.h3,
	.h4,
	.h5,
	.h6 {
		font-size: var(--h6-font-size-xs);
		line-height: var(--h6-line-height-xs);
	}

	.title {
		text-align: center;
	}
}

@media (max-width: 1499px) and (min-width: 1200px) {

	.plus-width {
		width: 50%;
		margin-left: 25%;
	}
}

@media (max-width: 991px) {

	.text-left-sm {
		text-align: left;
	}

	.text-center-sm {
		text-align: center;
	}
}

@media (max-width: 767px) {

	.xs-none {
		display: none;
	}

	.text-center-xs {
		text-align: center;
	}
}
/* HEADER */
header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	display: flex;
	position: fixed;
	align-items: center;
	padding: 0 110px 0 80px;
	height: var(--header-height-lg);
	transition: height .4s ease-in-out;
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

header:before {
	top: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 100%;
	height: 100%;
	background: #fff;
	position: absolute;
	transform: translate3d(0, -100%, 0);
	transition: transform .4s ease-in-out;
}

header li,
footer li {
	padding-left: 0;
}

header li:before,
footer li:before {
	display: none;
}

header > .menu a,
header .phone a {
	color: var(--white);
}

header > .menu li {
	margin-bottom: 0;
}

header > .menu a {
	position: static;
}

header > ul:not(.lang) {
	height: 100%;
	display: flex;
	margin-left: 30px;
	margin-right: 70px
}

header > ul:not(.lang) li {
	display: flex;
	text-align: center;
	margin-right: 45px;
	position: relative;
	align-items: center;
}

header > ul:not(.lang) li:last-child {
	margin-right: 0;
}

.current-menu-item {
	pointer-events: none;
}

header > ul:not(.lang) li.current-menu-item a:after {
	left: 0;
	right: 0;
}

header > ul:not(.lang) a {
	font-size: .938rem;
	letter-spacing: .031rem;
}

header.scrolled:before,
header.open-menu:before {
	transform: translate3d(0, 0, 0);
	box-shadow: 0 8px 32px 0px rgba(0, 0, 0, .04);
}

header.scrolled #logo > img,
header.open-menu #logo > img {
	opacity: 0;
}

header.scrolled #logo div img,
header.open-menu #logo div img {
	opacity: 1;
}

header.scrolled > ul:not(.lang) a,
header.scrolled .lang a,
header.scrolled .phone a,
header.open-menu > ul:not(.lang) a,
header.open-menu .lang a,
header.open-menu .phone a {
	color: var(--title);
}

header.scrolled .lang li.current-menu-item a,
header.open-menu .lang li.current-menu-item a {
	color: var(--blue);
}

header.scrolled .phone path,
header.open-menu .phone path {
	fill: var(--blue);
}

header.scrolled .burger span,
header.open-menu .burger span {
	background-color: var(--title);
}

header > ul:not(.lang) a:after,
.phone a:after {
	left: 50%;
	right: 50%;
	height: 2px;
	content: '';
	bottom: -1px;
	position: absolute;
	background-color: var(--blue);
}

#logo {
	width: 64px;
	height: 64px;
	display: flex;
	position: relative;
	border-radius: 50%;
}

#logo img {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	object-fit: contain;
	transition: opacity .4s ease-in-out;
}

#logo div {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

#logo div img {
	opacity: 0;
}

header > ul,
header > ul li,
.lang,
.lang li,
.phone {
	display: inline-block;
}

.lang {
	margin-left: 65px;
}

.lang li {
	padding: 0 9px;
	text-transform: uppercase;
}

.lang li.active a {
	color: var(--white);
	font-weight: 700;
}

.lang a {
	font-size: .875rem;
	letter-spacing: .106rem;
	color: rgba(255, 255, 255, .6);
}

.phone {
	margin-left: auto;
	margin-right: 65px;
	position: relative;
}

.phone svg {
	vertical-align: middle;
}

.phone path {
	fill: var(--white);
}

.phone a {
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: .038rem;
}

.burger {
	top: 43px;
	right: 80px;
	width: 30px;
	height: 30px;
	z-index: 100;
	cursor: pointer;
	position: fixed;
	overflow: hidden;
	transition: top .4s ease-in-out;
}

.burger span {
	opacity: 1;
	width: 30px;
	height: 1px;
	display: block;
	background: var(--white);
	position: absolute;
}

.burger span:nth-child(1) {
	top: 6.5px;
	left: -10px;
	transition: left .35s ease-in-out, background .55s ease-in-out;
}

.burger span:nth-child(2),
.burger span:nth-child(3) {
	left: 0;
	top: 50%;
	max-height: 1px;
	margin-top: -.5px;
	transition: left .35s ease-in-out, width .35s ease-in-out, background .55s ease-in-out, transform .35s ease-in-out;
}

.burger span:nth-child(4) {
	right: -10px;
	bottom: 6.5px;
	transition: right .35s ease-in-out, background .55s ease-in-out
}

.burger.active span:nth-child(1) {
	left: -30px;
}

.burger.active span:nth-child(2),
.burger.active span:nth-child(3) {
	left: 4px;
	width: 22px;
}

.burger.active span:nth-child(2) {
	transform: rotate(-135deg);
}

.burger.active span:nth-child(3) {
	transform: rotate(-225deg);
}

.burger.active span:nth-child(4) {
	right: -30px;
}

nav {
	top: 0;
	bottom: 0;
	right: -100%;
	width: 42.7%;
	position: fixed;
	padding: 130px 55px 65px 67px;
	background-color: var(--white);
	transition: all .6s ease-in-out;
}

nav:before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	content: '';
	position: absolute;
	background: var(--white);
	transition: all .6s ease-in-out;
	box-shadow: -8px 0 10px 0 rgba(0, 0, 0, .04);
}

nav .top-text {
	top: 50px;
	left: 3.3%;
	color: var(--grey);
	position: absolute;
	font-size: 1.125rem;
	display: inline-block;
}

nav .top-text b {
	color: var(--title);
}

nav > div {
	height: 100%;
	max-height: 100%;
	position: relative;
	padding-right: 30px;
	transition: overflow .1s ease-in-out .7s;
}

nav > div::-webkit-scrollbar {
	width: 5px;
}

nav > div::-webkit-scrollbar-track {
	background: var(--white);
}

nav > div::-webkit-scrollbar-thumb {
	background-color: var(--blue);
	border: 1px solid var(--white);
}

nav .row {
	width: calc(100% + 30px);
}

nav .vertical-align {
	padding-bottom: 100px;
}

nav .button,
nav .menu {
	opacity: 0;
	transform: translate3d(0, 15px, 0);
	transition: all .35s ease-in-out .5s;
}

nav.active {
	right: 0;
}

nav.active:before {
	left: -40px;
	transform: skew(4.7deg);
	transition: all .25s ease-in-out .45s;
}

nav > div {
	display: flex;
	overflow: auto;
	flex-wrap: wrap;
	align-items: center;
}

nav .button {
	margin-bottom: 3rem;
}

nav.active .button,
nav.active .menu {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.nav-contacts {
	vertical-align: bottom;
}

.nav-contacts:before,
.nav-contacts:after {
	content: '';
	display: table;
}

.nav-contacts:after {
	clear: both;
}

.nav-contacts > div {
	position: relative;
	padding-left: 15px;
	margin-bottom: 17px;
}

.nav-contacts > div:last-child {
	margin-bottom: 0;
}

.nav-contacts > div:before {
	left: 0;
	top: 11px;
	width: 2px;
	content: '';
	height: 12px;
	position: absolute;
	background-color: var(--blue);
}

.nav-contacts > div span {
	width: 100%;
	color: var(--text);
	display: inline-block;
}

.nav-contacts > div span:first-of-type {
	font-size: .875rem;
	line-height: 2.125rem;
}

.nav-contacts > div a {
	font-weight: 700;
	font-size: 1.125rem;
	color: var(--title);
	letter-spacing: .031rem;
}

.nav-contacts .social {
	margin-top: 8px;
}

.nav-contacts .social a {
	margin-right: 5px;
}

.nav-contacts .social a:last-child {
	margin-right: 0;
}

.menu li {
	text-align: right;
	margin-bottom: 21px;
}

.menu li:last-child {
	margin-bottom: 0;
}

.menu li.current-menu-item a:after {
	left: -15px;
}

.menu a {
	line-height: 2rem;
	font-size: 1.25rem;
	position: relative;
	color: var(--title);
	display: inline-block;
	letter-spacing: -.009rem;
}

.menu a:after {
	right: 0;
	left: 100%;
	height: 2px;
	content: '';
	bottom: -10px;
	position: absolute;
	background-color: var(--blue);
}

nav .nav-contacts > div {
	top: 10px;
	opacity: 0;
	position: relative;
}

nav.active .nav-contacts>div,
nav.active .menu li {
	top: 0;
	opacity: 1;
}

@media (min-width: 1200px) {

	header > ul:not(.lang) a:hover:after,
	.phone a:hover:after {
		left: 0;
		right: 0;
	}

	header.scrolled .lang a:hover,
	header.open-menu .lang a:hover {
		color: var(--blue);
	}

	.lang a:hover {
		color: var(--white);
	}

	.burger:not(.active):hover span:nth-child(1) {
		left: 0;
	}

	.burger:not(.active):hover span:nth-child(4) {
		right: 0;
	}

	.burger.active:hover span:nth-child(2),
	.burger.active:hover span:nth-child(3) {
		background-color: var(--blue);
	}

	.nav-contacts > div a:hover {
		color: var(--blue);
	}

	.menu a:hover:after {
		left: -15px;
	}

	header.scrolled {
		height: 80px;
	}

	header.scrolled .burger {
		top: 25px;
	}

	.lang.mobile {
		display: none;
	}

	nav .row > div:first-child {
		height: 100%;
		display: flex;
		overflow: hidden;
		flex-direction: column;
		align-items: flex-start;
	}

	nav .vertical-align {
		flex-grow: 1;
	}

	.phone {
		height: 100%;
		display: flex;
		align-items: center;
	}

	.phone svg {
		margin-right: 5px;
	}
}

@media (max-width: 1699px) {

	header {
		padding: 0 70px 0 40px;
	}

	header > ul:not(.lang) {
		margin-left: 0;
		margin-right: 30px;
	}

	header > ul:not(.lang) li {
		margin-right: 30px;
	}

	.lang {
		margin-left: 35px;
	}

	.lang li {
		padding: 0 5px;
	}

	.phone {
		margin-right: 35px;
	}

	.burger {
		right: 40px;
	}

	nav {
		width: 48%;
		padding: 130px 20px 35px 15px;
	}

	.menu {
		padding-right: 25px;
	}
}

@media (max-width: 1499px) {

	header {
		padding: 0 60px 0 30px;
		height: var(--header-height);
	}

	header > ul:not(.lang) li {
		margin-right: 15px;
	}

	#logo {
		width: 60px;
		height: 60px;
	}

	.lang {
		margin-left: 30px;
	}

	.phone {
		margin-right: 30px;
	}

	.burger {
		top: 25px;
		right: 30px;
	}

	nav {
		width: 49%;
		padding: 95px 20px 50px 15px;
	}

	nav .top-text {
		top: 30px;
		left: 15px;
		font-size: 1.125rem;
	}

	nav .vertical-align {
		padding-bottom: 40px;
	}

	.menu {
		padding-right: 15px;
	}
}

@media (max-width: 1199px) {

	header {
		padding: 0 60px 0 30px;
	}

	header > ul:not(.lang) {
		display: none;
	}

	.phone {
		padding: 10px;
		margin-left: auto;
		margin-right: 30px;
	}

	.phone a {
		top: 5px;
		opacity: 0;
		right: 100%;
		padding: 10px;
		min-width: 180px;
		font-size: .875rem;
		text-align: center;
		position: absolute;
		transform: scale(0);
		color: var(--title);
		background-color: var(--white);
		transform-origin: center right;
		box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .04);
	}

	.phone.active a {
		opacity: 1;
	}

	.lang {
		display: none;
	}

	.lang.mobile {
		margin: 0;
		display: block;
		text-align: right;
	}

	.lang.mobile a {
		color: var(--title);
	}

	.menu {
		height: auto;
		padding-right: 0;
		margin-bottom: 50px;
	}

	.menu li {
		margin-bottom: 15px;
	}

	nav {
		width: 55%;
		padding-right: 0;
	}

	nav > div {
		padding-right: 20px;
	}

	nav .lang.mobile {
		opacity: 0;
		transform: translate3d(0, 15px, 0);
	}

	nav.active .lang.mobile {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@media (max-width: 991px) {

	header {
		padding: 0 45px 0 15px;
	}

	header > ul:not(.lang) {
		display: none;
	}

	#logo {
		width: 56px;
		height: 56px;
	}

	.lang.mobile a {
		font-size: .75rem;
		letter-spacing: .063rem;
	}

	.burger {
		right: 15px;
	}

	.nav-contacts > div a,
	.menu a {
		font-size: 1rem;
	}

	.menu a {
		line-height: 1.75rem;
	}

	.nav-contacts > div {
		padding-left: 0;
		margin-bottom: 15px;
	}

	.nav-contacts > div:before {
		display: none;
	}

	.nav-contacts > div span {
		font-size: .75rem;
		line-height: 1.75rem;
	}

	.nav-contacts .social {
		margin-top: 5px;
	}

	nav .top-text {
		top: 35px;
		font-size: .875rem;
	}
}

@media (max-width: 767px) {

	header {
		height: var(--header-height-sm);
	}

	#logo {
		width: 48px;
		height: 48px;
	}

	nav,
	.lang.mobile,
	.menu li {
		text-align: center;
	}

	.lang.mobile li {
		padding: 0 15px;
	}

	.phone a {
		right: 0;
		top: 100%;
		transform-origin: top right;
	}

	nav {
		width: 100%;
		padding: 60px 0 50px 15px;
	}

	nav:before {
		display: none;
	}

	nav .row {
		display: flex;
		flex-wrap: wrap;
	}

	nav .row > div {
		flex: 0 0 100%;
		max-width: 100%;
	}

	nav .row > div:nth-child(1) {
		order: 1;
	}

	nav .row > div:nth-child(2) {
		order: 3;
	}

	nav .row > div:nth-child(3) {
		order: 2;
	}
	nav > div {
		height: 80%;
		max-height: 80%;
	}

	nav .top-text {
		top: auto;
		left: auto;
		display: block;
		text-align: center;
		position: relative;
		margin-bottom: 3rem;
	}

	nav > div {
		padding-right: 15px;
	}

	nav .vertical-align {
		padding: 30px 0;
	}

	.menu {
		margin-bottom: 30px;
	}

	.burger {
		top: 15px;
	}
}